
main{
    margin: 0 auto;
    padding-left: 23px;
}

article{
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-decoration: underline;
}

h3{
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
}